{% extends 'store/base.html' %}
{% load static %}
{% load customfunction %}


			{% block container %}
			<div>
				<div class="col-sm-12">
					<div class="titleheader">
						<h3 class="h2header text-center">Books</h3>
					</div>
					<div>
						{% for item in newbooks %}
						<div style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;" class="book-wrapper text-center">
							<div class="coverpage">
								<img src="{{ item.coverpage.url }}"/>
							</div>
							<a style="color: black; decorators: none; font-weight: bold; font-size: large" href="{% url 'store:book' id=item.id %}">{{ item.name|text_short }}</a>
							<a >{{ item.writer }}</a>
							
							<p style="color: green"> {{ item.price }}$</p>
							{% if item.stock > 0 %}
							<button class="btn btn-dark" id="addTocart" data-book-id="{{ item.id }}">
									<i class="fa fa-shopping-cart" style="margin-right: 10px"></i>Add
							</button>
							{% else %}
								<button class="btn btn-light">
									NO STOCK
								</button>
							{% endif %}
						</div>
						{% endfor %}
					</div>
				</div>


			</div> 
			{% endblock %}
